@mixin lodomaniak-flexbox {
  display: flex;
}

@mixin lodomaniak-flexbox-column {
  @include lodomaniak-flexbox;
  flex-direction: column;
}

@mixin lodomaniak-flexbox-row {
  @include lodomaniak-flexbox;
  flex-direction: row;
}

@mixin lodomaniak-flexbox-column-vhcenter {
  @include lodomaniak-flexbox-column;
  justify-content: center;
  align-items: center;
}

@mixin lodomaniak-vhfull-block {
  display: block;
  width: 100%;
  height: 100%;
}
