
$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #795548;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$main-color: #ffc107 !default;
$font-color: #333333 !default;
$red: #D32F2F !default;
$green: #4CAF50 !default;
$grey: #f0f0f0 !default;
$dark-grey: #b3b3b3 !default;
$white: #ffffff !default;
$black: #000000 !default;
