<h2 mat-dialog-title>{{'FLAVOR.DIALOG.TITLE' | translate}}</h2>

<form name="form" role="form">

  <mat-form-field>
    <mat-label>{{'FLAVOR.DIALOG.COMPANY.TITLE' | translate}}</mat-label>
    <mat-select [(value)]="flavor.company" [compareWith]="compareById"
                placeholder="{{'FLAVOR.DIALOG.COMPANY.PLACEHOLDER' | translate}}">
      <mat-option *ngFor="let company of companyList" [value]="company">
        {{company.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br/>
  <h3 class="mt-0 mb-0">{{'FLAVOR.DIALOG.IMAGE.TITLE' | translate}}</h3>
  <mat-divider class="pb-1"></mat-divider>
  <div class="row">
    <div class="form-size pr-1">
      <mat-label class="pr-1">{{'FLAVOR.DIALOG.IMAGE.TITLE' | translate}}</mat-label>
      <span>{{getUrl()}}</span>
      <button type="button" mat-button (click)="imgFileInput.click()">{{'FLAVOR.DIALOG.IMAGE.PLACEHOLDER' | translate}}
      </button>
      <input hidden type="file" #imgFileInput (change)="handleFileInput($event.target.files)"/>
    </div>
    <div *ngIf="loading">
      <mat-spinner [diameter]="DIAMETER" class="spinner-size"></mat-spinner>
    </div>
  </div>

  <br/>
  <h3 class="mt-0 mb-0">{{'FLAVOR.DIALOG.FLAVOR.NAME' | translate}}</h3>
  <mat-divider class="pb-1"></mat-divider>

  <div class="row">
    <mat-form-field class="form-size f-10">
      <mat-label>{{'FLAVOR.DIALOG.FLAVOR.TITLE' | translate}}</mat-label>
      <input matInput id="name" name="name" [(ngModel)]="flavor.name"
             placeholder="{{'FLAVOR.DIALOG.FLAVOR.PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="form-size f-10">
      <mat-label>{{'FLAVOR.DIALOG.TAG.TITLE' | translate}}</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags" [selectable]="SELECTABLE"
                  [removable]="REMOVABLE" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="REMOVABLE">cancel</mat-icon>
        </mat-chip>
        <input placeholder="{{'FLAVOR.DIALOG.TAG.PLACEHOLDER' | translate}}"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="SEPARATOR_KEY_CODES"
               [matChipInputAddOnBlur]="ADD_ON_BLUR"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions class="float-right">
  <button mat-button mat-dialog-close>{{'DIALOG.CANCEL' | translate}}</button>
  <button mat-button (click)="save()" [mat-dialog-close]="true">{{'DIALOG.SAVE' | translate}}</button>
</mat-dialog-actions>
