<button mat-raised-button	color="primary" (click)="openAddEditDialog()">{{'FLAVOR.ADD_FLAVOR' | translate}}</button>

<div class="flavors-container">

  <h2 class="margin-bottom">{{'FLAVOR.EXISTING_FLAVORS' | translate}}</h2>
  <mat-divider class="pb-1"></mat-divider>

  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="1%" fxFlexAlign="stretch">
    <flavor-card class="margin-bottom" fxFlex="32.25%" fxFlexAlign="stretch" fxFlex.xs="80%"
                 *ngFor="let flavor of flavors.content" [flavor]="flavor"></flavor-card>
  </div>
</div>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
</mat-paginator>
