<h2 mat-dialog-title>{{'SCHEDULER.DIALOG.TITLE' | translate}}</h2>

<form name="form" role="form">

  <div class="row">
    <mat-form-field class="form-size f-10">
      <mat-label>{{'SCHEDULER.DIALOG.DATE.TITLE' | translate}}</mat-label>
      <input matInput [matDatepicker]="myDatepicker" id="date" name="date" [(ngModel)]="flavorSchedule.date"
             placeholder="{{'SCHEDULER.DIALOG.DATE.PLACEHOLDER' | translate}}">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>{{'SCHEDULER.DIALOG.FLAVOR.TITLE' | translate}}</mat-label>
    <mat-select [(value)]="flavorSchedule.flavor" [compareWith]="compareShopsById"
                placeholder="{{'SCHEDULER.DIALOG.FLAVOR.PLACEHOLDER' | translate}}">
      <mat-option *ngFor="let flavor of flavorList" [value]="flavor">
        {{flavor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{'SCHEDULER.DIALOG.ICE_CREAM_SHOP.TITLE' | translate}}</mat-label>
    <mat-select [(value)]="flavorSchedule.iceCreamShop" [compareWith]="compareFlavorsById"
                placeholder="{{'SCHEDULER.DIALOG.ICE_CREAM_SHOP.PLACEHOLDER' | translate}}">
      <mat-option *ngFor="let iceCreamShop of iceCreamShopList" [value]="iceCreamShop">
        {{iceCreamShop.company.name}}: {{iceCreamShop.address.streetAddress}}, {{iceCreamShop.address.zipCode}}
        {{iceCreamShop.address.city}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<mat-dialog-actions class="float-right">
  <button mat-button mat-dialog-close>{{'DIALOG.CANCEL' | translate}}</button>
  <button mat-button (click)="save()" [mat-dialog-close]="true">{{'DIALOG.SAVE' | translate}}</button>
</mat-dialog-actions>
