<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{getFilePath(flavorSchedule.flavor.imageUrl)}}" alt="Ice Cream">
    <mat-card-title>{{flavorSchedule.date}}: {{flavorSchedule.flavor.name}}</mat-card-title>
    <mat-card-subtitle>{{flavorSchedule.iceCreamShop.company.name}}:
      {{flavorSchedule.iceCreamShop.address.streetAddress}}, {{flavorSchedule.iceCreamShop.address.zipCode}}
      {{flavorSchedule.iceCreamShop.address.city}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="edit()">{{'DIALOG.EDIT' | translate}}</button>
  </mat-card-actions>
</mat-card>
