<lodomaniak-account-card [title]="title">

  <form class="login-form" name="form" role="form" (ngSubmit)="login()">

    <mat-form-field class="form-size" appearance="outline">
      <mat-label>{{'ACCOUNT.FORM.USERNAME.TITLE' | translate}}</mat-label>
      <input matInput id="login" name="login" [(ngModel)]='credentials.username'
             placeholder="{{'ACCOUNT.FORM.USERNAME.PLACEHOLDER' | translate}}">
    </mat-form-field>

    <mat-form-field class="form-size" appearance="outline">
      <mat-label>{{'ACCOUNT.FORM.PASSWORD.TITLE' | translate}}</mat-label>
      <input matInput id="password" name="password" [(ngModel)]="credentials.password"
             type="password" placeholder="{{'ACCOUNT.FORM.PASSWORD.PLACEHOLDER' | translate}}">
    </mat-form-field>

    <button class="form-size button-size" mat-stroked-button type="submit">{{'ACCOUNT.FORM.LOGIN.BUTTON' | translate}}
    </button>

    <span>
      <p>
      {{'ACCOUNT.FORM.LOGIN.CREATE_ACCOUNT' | translate}}
      <a [routerLink]="registrationPath"
         routerLinkActive="nav-bar-active"
         [routerLinkActiveOptions]="routerActiveOptions">{{'ACCOUNT.FORM.HERE' | translate}}</a>
      </p>
    </span>
    <span>
      {{'ACCOUNT.FORM.LOGIN.RESET_PASSWORD' | translate}}
      <a [routerLink]="passwordResetPath"
         routerLinkActive="nav-bar-active"
         [routerLinkActiveOptions]="routerActiveOptions">{{'ACCOUNT.FORM.HERE' | translate}}</a>
    </span>
  </form>


</lodomaniak-account-card>
