@import '../../../assets/styles/main';

.form-size {
  width: 25rem;
}

.button-size {
  height: 3.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
