<lodomaniak-account-card [title]="title">

  <form class="login-form" name="form" role="form" (ngSubmit)="passwordReset()">

    <mat-form-field class="form-size" appearance="outline">
      <mat-label>{{'ACCOUNT.FORM.USERNAME.TITLE' | translate}}</mat-label>
      <input matInput id="login" name="login" [(ngModel)]='email'
             placeholder="{{'ACCOUNT.FORM.USERNAME.PLACEHOLDER' | translate}}">
    </mat-form-field>

    <button class="form-size button-size" mat-stroked-button type="submit">{{'ACCOUNT.FORM.PASSWORD_RESET.BUTTON' | translate}}
    </button>

  </form>

</lodomaniak-account-card>
