@import "common/_colors";
@import "common/variables";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  min-width: $min-width;
  min-height: $min-height;
  overflow: auto;

  .app-wrapper {
    width: $full-width;
    height: $full-height;
  }
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $font-color;
  outline: none;
}

a:hover {
  color: $main-color;
}

mat-form-field {
  min-width:auto !important;
  .mat-form-field-infix {
    width: auto;
  }
}

.width-full {
  width: 100%;
}
