<div class="admin width-full height-full">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{'TITLE' | translate}}</h1>
  </mat-toolbar>

  <div class="navbar-container">
    <mat-drawer-container class="navbar-drawer-container">
      <mat-drawer #snav [mode]="'side'" [opened]="true">
        <mat-nav-list class="pt-0">
          <a mat-list-item [routerLink]="item.url" routerLinkActive="navbar-active"
             [routerLinkActiveOptions]="routerActiveOptions" *ngFor="let item of MENU_ITEMS">
            {{item.name | translate}}
          </a>
        </mat-nav-list>
      </mat-drawer>

      <mat-drawer-content class="width-full">
        <div class="navbar-container padding">
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>

</div>
