@import '../../assets/styles/main';

.admin {
  @include lodomaniak-flexbox-column;
}

.navbar {
  &-logout {
    @include medium;
  }

  &-filler {
    flex: 1 1 auto;
  }

  &-container {
    @include lodomaniak-flexbox;
    flex: 1 1 auto;
  }

  &-drawer {
    border-right: 1px solid rgba(0, 0, 0, .12);

    &-container {
      background-color: #fafafa;
      @include lodomaniak-flexbox;
      flex: 1 1 auto;
    }
  }

  &-active {
    color: $primary-color;
  }
}

.footer {
  &-container {
    @include small;
    background-color: #FFF;
  }
}
