@import '../../assets/styles/main';

.nav-bar-active {
  color: $main-color;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.drawer-content {
  width: 100%;
}

.test {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
}

.internal-container {
  padding: 10px;
}

.navigation-list {
  padding-top: 0px;
}
