@import '../../assets/styles/main';

.admin {
  @include lodomaniak-flexbox-column;
}

.navbar {
  &-container {
    @include lodomaniak-flexbox;
    flex: 1 1 auto;
  }

  &-drawer {
    &-container {
      @include lodomaniak-flexbox;
      flex: 1 1 auto;
    }
  }

  &-active {
    color: $primary-color;
  }
}
