$primary-color-dark: #5D4037;
$primary-color: #795548;
$primary-color-light: #D7CCC8;

.profile {
  background: linear-gradient(to bottom right, $primary-color, $primary-color-dark);

  &-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
  }

  &-container-padded {
    padding-top: 25%;
  }

  &-button {
    width: 80%;
    font-size: 2.5rem;
    text-transform: none !important;
    margin: 0.4rem 0.2rem !important;
    padding: 0 1em !important;
  }

  &-row {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  &-header {
    margin-bottom: 0 !important;
    margin-left: 12px;
  }

  &-empty {
    margin: 1rem;
  }
}

ion-icon.lock {
  font-size: 30rem;
  color: #FFF;
}

ion-icon.person {
  font-size: 30rem;
  color: $primary-color;
}



