$primary-color-dark: #5D4037;
$primary-color: #795548;
$primary-color-light: #D7CCC8;

.profile {
  background: linear-gradient(to bottom right, $primary-color, $primary-color-dark);

  &-container {
    display: flex;
    padding-top: 25%;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
  }

  &-button {
    width: 80%;
    font-size: 2.5rem;
    text-transform: none !important;
    margin: 0.4rem 0.2rem !important;
    padding: 0 1em !important;
  }
}

ion-icon.lock {
  font-size: 30rem;
  color: #FFF;
}



