<form name="form" role="form" (ngSubmit)="register()" fxLayout="column" style="width: 100%">
  <div class="form-group">
    <!--<label class="form-control-label" for="login">{{'ACCOUNT.FORM.LOGIN.TITLE' | translate}}</label>-->
    <!--<input type="text" class="form-control" id="login" name="login"-->
    <!--placeholder="{{'ACCOUNT.FORM.LOGIN.PLACEHOLDER' | translate}}"-->
    <!--required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">-->
    <mat-form-field appearance="outline" class="form-size">
      <mat-label>{{'ACCOUNT.FORM.USERNAME.TITLE' | translate}}</mat-label>
      <input matInput id="login" name="login" [(ngModel)]='account.login'
             placeholder="{{'ACCOUNT.FORM.USERNAME.PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>

  <div class="form-group">
    <!--<label class="form-control-label" for="email">{{'ACCOUNT.FORM.EMAIL.TITLE' | translate}}</label>-->
    <!--<input type="email" class="form-control" id="email" name="email"-->
    <!--placeholder="{{'ACCOUNT.FORM.EMAIL.PLACEHOLDER' | translate}}"-->
    <!--minlength=5 maxlength=100 required>-->

    <mat-form-field appearance="outline" class="form-size">
      <mat-label>{{'ACCOUNT.FORM.EMAIL.TITLE' | translate}}</mat-label>
      <input matInput id="email" name="email" [(ngModel)]="account.email"
             placeholder="{{'ACCOUNT.FORM.EMAIL.PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>

  <div class="form-group">
    <!--<label class="form-control-label" for="password">{{'ACCOUNT.FORM.PASSWORD.TITLE' | translate}}</label>-->
    <!--<input type="password" class="form-control" id="password" name="password"-->
    <!--placeholder="{{'ACCOUNT.FORM.PASSWORD.PLACEHOLDER' | translate}}"-->
    <!--minlength=4 maxlength=50 required>-->

    <mat-form-field appearance="outline" class="form-size">
      <mat-label>{{'ACCOUNT.FORM.PASSWORD.TITLE' | translate}}</mat-label>
      <input matInput id="password" name="password" [(ngModel)]="account.password"
             type="password" placeholder="{{'ACCOUNT.FORM.PASSWORD.PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>

  <div class="form-group">
    <!--<label class="form-control-label" for="confirmPassword">{{'ACCOUNT.FORM.CONFIRM_PASSWORD.TITLE' |-->
    <!--translate}}</label>-->
    <!--<input type="password" class="form-control" id="confirmPassword" name="confirmPassword"-->
    <!--placeholder="{{'ACCOUNT.FORM.CONFIRM_PASSWORD.PLACEHOLDER' | translate}}"-->
    <!--minlength=4 maxlength=50 required>-->

    <mat-form-field appearance="outline" class="form-size">
      <mat-label>{{'ACCOUNT.FORM.CONFIRM_PASSWORD.TITLE' | translate}}</mat-label>
      <input matInput id="confirmPassowrd" name="confirmPassword" [(ngModel)]="confirmPassword"
             type="password" placeholder="{{'ACCOUNT.FORM.CONFIRM_PASSWORD.PLACEHOLDER' | translate}}">
    </mat-form-field>
  </div>

  <button mat-stroked-button type="submit">{{'ACCOUNT.FORM.REGISTER.BUTTON' | translate}}</button>
</form>
