<lodomaniak-account-card [title]="title">

  <form class="login-form" name="form" role="form" (ngSubmit)="register()" fxLayout="column" style="width: 100%">

      <mat-form-field appearance="outline" class="form-size">
        <mat-label>{{'ACCOUNT.FORM.USERNAME.TITLE' | translate}}</mat-label>
        <input matInput id="registerLogin" name="registerLogin" [(ngModel)]='account.login'
               placeholder="{{'ACCOUNT.FORM.USERNAME.PLACEHOLDER' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-size">
        <mat-label>{{'ACCOUNT.FORM.EMAIL.TITLE' | translate}}</mat-label>
        <input matInput id="registerEmail" name="registerEmail" [(ngModel)]="account.email"
               placeholder="{{'ACCOUNT.FORM.EMAIL.PLACEHOLDER' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-size">
        <mat-label>{{'ACCOUNT.FORM.PASSWORD.TITLE' | translate}}</mat-label>
        <input matInput id="registerPassword" name="registerPassword" [(ngModel)]="account.password"
               type="password" placeholder="{{'ACCOUNT.FORM.PASSWORD.PLACEHOLDER' | translate}}">
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-size">
        <mat-label>{{'ACCOUNT.FORM.CONFIRM_PASSWORD.TITLE' | translate}}</mat-label>
        <input matInput id="registerConfirmPassowrd" name="registerConfirmPassword" [(ngModel)]="confirmPassword"
               type="password" placeholder="{{'ACCOUNT.FORM.CONFIRM_PASSWORD.PLACEHOLDER' | translate}}">
      </mat-form-field>

    <button class="form-size button-size" mat-stroked-button type="submit">{{'ACCOUNT.FORM.REGISTER.BUTTON' | translate}}</button>

    <span>
      <p>
      {{'ACCOUNT.FORM.REGISTER.CREATE_ACCOUNT' | translate}}
      <a [routerLink]="loginPath"
         routerLinkActive="nav-bar-active"
         [routerLinkActiveOptions]="routerActiveOptions">{{'ACCOUNT.FORM.HERE' | translate}}</a>
      </p>
    </span>
  </form>

</lodomaniak-account-card>
