<ion-header>
  <navbar></navbar>
</ion-header>

<ion-content class="cards">

  <div class="explore-row">
    <h3 class="explore-header">Przeglądaj</h3>

    <ion-grid no-padding>
      <ion-row>
        <ion-col col-4>
          <browse-card (click)="navigateToShops()" title="Lodziarnie" imageUrl="assets/imgs/icecreamshop.jpeg"></browse-card>
        </ion-col>
        <ion-col col-4>
          <browse-card (click)="navigateToFlavors()" title="Smaki" imageUrl="assets/imgs/icecream.jpeg"></browse-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="explore-row">
    <h3 class="explore-header">Dzisiejsze smaki</h3>

    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6>
          <flavor-schedule-card [flavorSchedule]="flavorsSchedules[0]"></flavor-schedule-card>
        </ion-col>
        <ion-col col-6>
          <flavor-schedule-card [flavorSchedule]="flavorsSchedules[1]"></flavor-schedule-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <flavor-schedule-card [flavorSchedule]="flavorsSchedules[2]"></flavor-schedule-card>
        </ion-col>
        <ion-col col-6>
          <flavor-schedule-card [flavorSchedule]="flavorsSchedules[3]"></flavor-schedule-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="explore-row">
    <h3 class="explore-header">Ostatnio dodane</h3>

    <ion-scroll scrollX="true" direction="x">
      <ice-cream-shop-card class="ice-cream-shops" [iceCreamShop]="iceCreamShop"
                           *ngFor="let iceCreamShop of iceCreamShops"></ice-cream-shop-card>
    </ion-scroll>
  </div>

</ion-content>
