<ion-card *ngIf="flavorSchedule" (click)="onClick()" class="flavor-schedule-card">

  <div *ngIf="flavorSchedule">
    <like class="flavor-schedule-card-like-button" [ratedObjectId]="flavorSchedule.flavor.id" [ratingType]="RATING_TYPE"></like>
    <img class="flavor-schedule-card-image" src="{{getImg()}}"/>
  </div>

  <ion-card-content class="flavor-schedule-card-content">
    <p><b>{{flavorSchedule ? flavorSchedule.flavor.name : ''}}</b></p>

    <p class="flavor-schedule-card-address">{{flavorSchedule ? flavorSchedule.flavor.company.name : ''}}</p>
    <p class="flavor-schedule-card-address">{{flavorSchedule ? flavorSchedule.iceCreamShop.address.streetAddress : ''}}</p>
  </ion-card-content>

</ion-card>
