<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="flavor">
    <div *ngIf="flavor">
      <like class="flavor-like-button" [ratedObjectId]="flavor.id" [ratingType]="RATING_TYPE"></like>
      <img class="flavor-image" src="{{getImg()}}"/>
    </div>

    <ion-card-content class="flavor-content">
      <p><span class="flavor-title">{{flavor ? flavor.name : ''}}</span> &bull; {{flavor ? flavor.company.name : ''}}
      </p>
      <follow [followType]="FOLLOW_TYPE" [followedObjectId]="flavor.id"></follow>
    </ion-card-content>


    <h3 class="flavor-header">Gdzie dzisiaj dostępne</h3>
    <ion-list>
      <ion-item class="flavor-schedule-item" *ngFor="let schedule of flavorSchedules">
        <ice-cream-shop-card-large class="flavor-schedule-card" item-content [iceCreamShop]="schedule.iceCreamShop">
        </ice-cream-shop-card-large>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

