<ion-card (click)="onClick()" class="flavor-card">

  <div *ngIf="flavorSchedule">
    <button class="flavor-card-like-button" ion-button icon-only>
      <ion-icon name="heart"></ion-icon>
    </button>
    <img class="flavor-card-image" src="{{getImg()}}"/>
  </div>

  <ion-card-content class="flavor-card-content">
    <p><b>{{flavorSchedule ? flavorSchedule.flavor.name : ''}}</b></p>

    <p class="flavor-card-address">{{flavorSchedule ? flavorSchedule.flavor.company.name : ''}}</p>
    <p class="flavor-card-address">{{flavorSchedule ? flavorSchedule.iceCreamShop.address.streetAddress : ''}}</p>
  </ion-card-content>

</ion-card>
