<ion-card (click)="onClick()" class="ice-cream-shop">

  <div *ngIf="iceCreamShop">
    <like class="flavor-card-like-button" [ratedObjectId]="iceCreamShop.id" [ratingType]="RATING_TYPE"></like>
    <img class="card-image-header" src="{{getImg()}}"/>
  </div>

  <ion-card-content class="ice-cream-shop">
    <p><b>{{iceCreamShop.company.name}}</b></p>

    <p class="ice-cream-shop-address">{{iceCreamShop.address.streetAddress}}</p>
    <p class="ice-cream-shop-address">{{iceCreamShop.address.zipCode}} {{iceCreamShop.address.city}}</p>
  </ion-card-content>

</ion-card>
