@import "../../assets/styles/main";

ion-searchbar.navbar-search {
  margin: 10px;
  margin-bottom: 0;
  width: auto;
  background: #FFF;
  border-top: 0 !important;
  border-bottom: 0 !important;

  .searchbar-input-container {
    border: 2px solid $primary-color;
  }
}

.city-select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.city-select-placeholder {
  color: #FFF;
}

ion-item.city-select {
  width: 40%;
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.select-searchable {
  background: $primary-color;
  color: #FFF;
  border: 1px solid $primary-color;
  max-width: 100%;
  flex: 1 0 100%;
}

.select-searchable-icon {
  .select-searchable-icon-inner {
    color: #FFF;
    left: 0;
  }
}

ion-item {
  .item-inner {
    border-bottom: 0 !important;
    .input-wrapper {
      ion-label {
        display: none;
      }
    }
  }
}

