<ion-searchbar
  (click)="onClick()"
  class="navbar-search"
  placeholder="Szukaj">
</ion-searchbar>

<div class="city-select">
  <ion-item class="city-select">
    <ion-label>Miasto</ion-label>
    <select-searchable
      item-content
      [(ngModel)]="selectedCity"
      [items]="cities"
      [canSearch]="true"
      (onChange)="cityChange($event)">
      <ng-template selectSearchablePlaceholderTemplate>
        <span class="city-select-placeholder">Miasto</span>
      </ng-template>
    </select-searchable>
  </ion-item>
</div>
