@import "../../../assets/styles/main";

.price-bar-item {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .price-bar-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .price-bar-item-title {
    @include huge();
    padding-right: $default-padding;
    font-weight: bold;
    margin-right: 30px;
  }

  .price-bar-item-price {
    @include huge();
    padding-right: $default-padding;
  }

  .price-bar-item-change {
    @include medium();
    padding-right: $default-padding;
  }

  .price-bar-item-change-pct {
    @include medium();
  }

  .price-bar-item-red {
    color: $red;
  }

  .price-bar-item-green {
    color: $green;
  }

}
